model.pt
notebooks/.ipynb_checkpoints
.ipynb_checkpoints
__pycache__
notebooks/clip_v1_0.1_state_dict.pt
notebooks/models
notebooks/train/wandb
.vscode/settings.json
.vscode/launch.json
combined_results.csv
*.vscode
*.ipynb_checkpoints
results/*
*.png
*.jpg
*.jpeg
*.csv
*.npy
*.pt
*.pth
*.pkl
*.log
*.txt
*.yaml
*.yml
*.json
*.pickle
*.ckpt
*.bin
*.model
*.tar
*.zip
*.gz
*.h5

